.blog-page {
  padding-top: 34px;
  .title-page {
    margin-bottom: 26px;
  }
  .pagination {
    margin: 0 0 60px;
    li {
      margin-right: 7px;
    }
  }
}
.title-blog {
  font-weight: 500;
}
.publish-info {
  color: $color-gray-text;
}
.popular-blogs {
  margin-bottom: 31px;
}
.popular-blog {
  position: relative;
  .description {
    background: $color-white; color: $color-button-text; padding: 38px 47px 36px 36px; position: absolute; bottom: 30px; left: 47px;
    .title-blog {
      font-size: 25px; margin-bottom: 23px;
    }
    .publish-info {
      font-size: 14px;
    }
    @media (max-width: 767px) {
      padding: 25px 35px 25px 23px; left: auto; position: relative; bottom: auto;
      .title-blog {
        font-size: 19px;
      }
    }
  }
}
.popular-blog-list {
  padding-top: 16px; padding-left: 33px;
  .title-list {
    text-transform: uppercase; color: $color-button-text; font-size: 14px; font-weight: 500; margin-bottom: 29px;
  }
  .list-item {
    margin-bottom: 38px;
    a {
      display: flex;
      .image {
        width: 58px; height: 58px; border-radius: 50%; overflow: hidden; margin-right: 22px;
        img {
          height: 100%; object-fit: cover;
        }
      }
      .description {
        width: 67%;
      }
      .title-blog {
        font-size: 14px; line-height: 18px; margin-bottom: 3px;
      }
      .publish-info {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 1200px) {
    ul {
      display: flex; flex-wrap: wrap;
      .list-item {
        width: 33.333%;
      }
    }
  }
  @media (max-width: 767px) {
    ul .list-item {
      width: 50%;
    }
  }
  @media (max-width: 600px) {
    ul .list-item {
      width: 100%;
    }
  }
}
.blog-list {
  .blog-item {
    display: block; margin-bottom: 30px;
    .description {
      background: $color-white; padding: 22px 20px;
      .title-blog {
        font-size: 18px; margin-bottom: 15px; line-height: 21px;
      }
      .publish-info {
        font-size: 12px;
      }
    }
    .image {
      max-width: 490px; max-height: 286px; overflow: hidden; position: relative;
      &:before {
        content: ''; display: block; position: absolute; left: 0; right: 0; height: 100%; background: transparent; transition: all .3s ease;
      }
    }
    &:hover, &:focus, &:active {
      .image:before {
        background: rgba($color-white, .2);
      }
    }
    @media (max-width: 520px) {
      width: 100%;
    }
  }
}
.blog-subscribe {
  padding: 0 0 23.9%; height: auto; margin-bottom: 0; min-height: 455px;
  .wrap-subscribe {
    top: 21.4%; left: 50.8%;
    @media (max-width: 1310px) {
      top: 50%; left: 50%; transform: translate(-50%, -50%);
    }
    @media (max-width: 767px) {
      top: 50%; left: 0; right: 0; transform: translateY(-50%);
    }
  }
  .subscribe-form {
    background: $color-white; padding: 47px 70px 44px;
    .error-text { line-height: 60px; }
    @media (max-width: 767px) {
      padding: 25px 15px 25px;
    }
  }
}