.block-content.container-fluid {
  padding: 24px 0 0; margin-bottom: 61px;
}
.left-sidebar {
  padding-right: 10px; margin-bottom: 20px;
}
.main-panel {
  > .panel-heading {
    display: none;
    a {
      background: $color-white; text-align: center; text-transform: uppercase; display: none;
    }
  }
  &.open {
    .panel-heading {
      display: block;
      a { text-align: center; }
    }
  }
}
.panel-default > .panel-heading a,
.filter-title {
  display:block; font-weight: 500; border: none; border-bottom: 1px solid $color-gray-bg; padding: 16px 20px 15px; text-align: left; color: $color-black;
}
.block-filter {
  background: $color-white; font-size: 14px; color: $color-black; text-align: center; padding-bottom: 20px; margin-bottom: 10px;
  .filters {
    padding: 15px 20px 13px; text-align: left;
    .filter {
      margin-bottom: 5px;
      .filter-name { font-weight: 500; }
    }
  }
}
.block-criteria {
  background: $color-white; margin-bottom: 8px;
  .noUi-horizontal .noUi-handle {
    width: 20px; height: 20px; border-radius: 50%; background: $color-light-blue-text; border: none; box-shadow: none; left: 50%; top: 50%; transform: translate(-50%, -50%); outline: 0; cursor: pointer;
    &:after {
      content: none;
    }
    &:before {
      width: 10px; height: 10px; border-radius: 50%; background: $color-white; top: 50%; left: 50%; transform: translate(-50%, -50%);
    }
  }
  .noUi-target {
    height: 3px; border-radius: 0; border: none; background: $color-gray-bg; margin-bottom: 20px;
  }
}
.product {
  text-align: right; position: relative; margin-bottom: 5px; display: block;
  .image {
    width: 297px; display: inline-block; overflow: hidden;
  }
  .title-product {
    position: absolute; top: 18px; left: 0; font-size: 13px; letter-spacing: 0.7px;
    .sub-title {
      margin-left: 20px;
    }
  }
  .product-ico {
    position: absolute; top: 10px; right: 10px;
  }
  &.product-day .product-ico {
      @include sprite($day-product-ico);
  }
  &.hot-new .product-ico {
    @include sprite($hot-product-ico);
  }
  @media (max-width: 991px) {
    display: none;
  }
}
.block-sort {
  z-index: 50; padding: 0; display: flex; align-items: center; margin-bottom: 30px;
  .dropdown {
    display: inline-block; vertical-align: middle; padding: 0 6px;
    .btn-secondary {
      background: $color-button-text; color: $color-white; font-weight: normal; padding: 10px 31px 10px 14px; position: relative; text-transform: none; font-size: 14px;
      &:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 4px 3.5px 0 3.5px; border-color: $color-white transparent transparent transparent; right: 14px;
      }
      &:hover, &:focus, &:active {
        box-shadow: none;
      }
    }
    &.open .btn-secondary {
      box-shadow: none;
    }
    .dropdown-menu {
      width: auto; right: 0; top: 40px; min-width: 0;
    }
  }
  .sort-price {
    margin-right: 22px; display: flex; align-items: center;
  }
  .sort-show {
    display: flex; align-items: center;
  }
  .sort-info {
    width: 50%; text-align: right;
    @media (max-width: 991px) {
      display: none;
    }
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    .sort-price {
      flex-direction: column; align-items: flex-start; margin-bottom: 10px;
      .dropdown {
        padding: 0;
      }
    }
  }
}
.right-content {
  padding: 0 0 0 19px; text-align: center;
  .collection {
    display: flex; flex-wrap: wrap; margin-bottom: 17px;
    .collection-item {
      width: 24.9%; margin-bottom: 14px;
      .image {
        max-height: 431px;
      }
      .description {
        font-size: 12px; line-height: 15px; padding: 17px 15px;
        .text { margin-bottom: 10px; }
        .price {
          font-size: 14px;
        }
      }
      .favorite {
        width: 29px; height: 28px;
        &:before { color: #d7d7d7; }
        &:hover, &:focus, &:active {
          &:before { color: $color-light-blue; }
        }
      }
      @media (max-width: 1334px) {
        width: 33.2%;
      }
      @media (max-width: 1038px) {
        width: 49.8%;
      }
      @media (max-width: 991px) {
        width: 33.2%;
      }
      @media (max-width: 787px) {
        width: 100%;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 0 15px;
  }
}

.block-viewed-item,
.block-top-sales {
  border-top: 1px solid #dddddd;
  .wrap {
    padding: 60px 15px 0; position: relative; max-width: 1545px; margin: 0 auto 81px;
  }
  .title-page {
    font-size: 25px;
  }
  .btn-see-all {
    font-weight: 500; font-size: 14px; color: $color-button-text; border-bottom: 1px solid $color-button-text; padding-bottom: 6px; position: absolute; top: 55px; right: 0; transition: all .3s ease;
    &:hover, &:focus, &:active {
      color: $color-blue-text;
      border-color: $color-blue-text;
    }
    @media (max-width: 767px) {
      right: 30px;
    }
  }
}
.top-product {
  display: flex;
  .collection-item {
    width: 20%;
    .image {
      max-height: 463px;
    }
    .description {
      font-size: 12px; line-height: 15px; padding: 17px 15px;
      .text { margin-bottom: 10px; }
      .price {
        font-size: 14px;
      }
    }
    .favorite {
      width: 29px; height: 28px;
      &:before { color: #d7d7d7; }
      &:hover, &:focus, &:active {
        &:before { color: $color-light-blue; }
      }
    }
    @media (max-width: 1330px) {
      width: 24.9%; margin-bottom: 10px;
    }
    @media (max-width: 1032px) {
      width: 33.2%;
    }
    @media (max-width: 787px) {
      width: 100%;
    }
  }
  @media (max-width: 1330px) {
    flex-wrap: wrap;
  }
}
.block-image-info {
  background-position: 50% 0; background-repeat: no-repeat; background-size: cover; padding-top: 29.157%; position: relative; min-height: 200px;
  .title-block {
    position: absolute; left: 0; top: 46%; transform: translateY(-50%); padding-left: 104px;
    .sub-title { margin-left: 185px; }
    @media (max-width: 767px) {
      padding-left: 15px; left: 0; font-size: 45px;
      .sub-title { margin-left: 25px; }
    }
  }
}
.price-slider-input {
  display: flex; align-items: center; justify-content: space-between; color: $color-gray-text;
  .form-group {
    max-width: 120px; height: 40px; margin: 0;
  }
}
.size-list {
  display: flex;
  input[type="checkbox"] {
    display: none;
  }
  .size-name {
    display: block; width: 60px; height: 39px; text-align: center; line-height: 39px; background: $color-white; border: 1px solid $color-border; color: #000000; font-size: 14px; font-weight: 500; cursor: pointer;
    transition: all .3s ease;
    &:hover, &:focus, &:active {
      background: $color-light-blue; color: $color-white;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  input[type="checkbox"]:checked + label {
    background: $color-light-blue; color: $color-white;
  }
}
.color-list {
  display: flex; flex-wrap: wrap;
  input[type="checkbox"] {
    display: none;
  }
  .color-item {
    display: block; width: 40px; height: 40px;border-radius: 50%; background: no-repeat; background-position: 0 50%; background-size: cover; position: relative; cursor: pointer;
    &:before {
      content: ''; display: block; position: absolute; left: 0; right: 0; height: 100%; background: transparent; transition: all .3s ease;
    }
    &:after {
      content: '\e903'; display: block; position: absolute; left: 0; right: 0; height: 100%; line-height: 40px; font-family: "icomoon"; text-align: center; font-size: 14px; background: rgba($color-white, .4); color: $color-button-text; opacity: 0; transition: all .3s ease;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover, &:focus, &:active {
      &:before {
        background: rgba($color-white, .2);
      }
    }
  }
  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}