.block-content.container-fluid {
  padding: 24px 0 0; margin-bottom: 61px;
}
.block-content {
  .title-page {
    margin-bottom: 36px;
  }
}
.left-sidebar {
  padding-right: 10px; margin-bottom: 20px;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}
.main-panel {
  > .panel-heading {
    display: none;
    a {
      background: $color-white; text-align: center; text-transform: uppercase; display: none;
    }
  }
  &.open {
    .panel-heading {
      display: block;
      a { text-align: center; }
    }
  }
}
.panel-default > .panel-heading a,
.filter-title {
  display:block; font-weight: 500; border: none; border-bottom: 1px solid $color-gray-bg; padding: 16px 20px 15px; text-align: left; color: $color-black;
}
.block-filter {
  background: $color-white; font-size: 14px; color: $color-black; text-align: center; padding-bottom: 20px; margin-bottom: 10px;
  .filters {
    padding: 15px 24px 13px 20px; text-align: left;
    .filter {
      margin-bottom: 5px; position: relative;
      .filter-name { font-weight: 500; }
      .filter-remove {
        font-size: 17px; color: $color-button-text; cursor: pointer; position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}
.block-criteria {
  background: $color-white; margin-bottom: 8px;
  .noUi-horizontal .noUi-handle {
    width: 20px; height: 20px; border-radius: 50%; background: $color-light-blue-text; border: none; box-shadow: none; left: 50%; top: 50%; transform: translate(-50%, -50%); outline: 0; cursor: pointer;
    &:after {
      content: none;
    }
    &:before {
      width: 10px; height: 10px; border-radius: 50%; background: $color-white; top: 50%; left: 50%; transform: translate(-50%, -50%);
    }
  }
  .noUi-target {
    height: 3px; border-radius: 0; border: none; background: $color-gray-bg; margin-bottom: 20px;
  }
  @media (max-width: 991px) {
    text-align: center;
    .panel ul {
      display: inline-block; text-align: left;
    }
  }
}
.product {
  text-align: right; position: relative; margin-bottom: 5px; display: block; overflow: hidden;
  .image {
    width: 297px; display: inline-block; overflow: hidden;
  }
  .title-product {
    position: absolute; top: 18px; left: 0; font-size: 13px; letter-spacing: 0.7px;
    .sub-title {
      margin-left: 20px;
    }
  }
  .product-ico {
    position: absolute; top: 10px; right: 10px;
  }
  &.product-day .product-ico {
      @include sprite($day-product-ico);
  }
  &.hot-new .product-ico {
    @include sprite($hot-product-ico);
  }
  @media (max-width: 991px) {
    display: none;
  }
}
.block-sort {
  z-index: 50; padding: 0; display: flex; align-items: center; margin-bottom: 31px;
  form {
    display: flex; align-items: center; width: 100%;
  }
  .form-group {
    display: flex; margin-bottom: 0;
    .control-label {
      font-size: 14px; margin-right: 7px;
    }
    .bootstrap-select {
      width: 266px!important; padding: 0; height: 39px; border: none; outline: 0;
      .btn-default {
        color: $color-white; background: $color-button-text; line-height: 39px; text-transform: none; font-size: 14px; font-weight: normal; padding: 0 19px 0 0;
        span {
          text-align: center;
        }
      }
    }
    &.sort-show {
      .bootstrap-select {
        max-width: 60px;
      }
    }
  }
  .sort-price {
    margin-right: 30px; display: flex; align-items: center;
  }
  .sort-show {
    display: flex; align-items: center;
    .dropdown-menu {
      width: 75%;
    }
  }
  .sort-info {
    width: 49.6%; text-align: right; padding-right: 16px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  @media (max-width: 615px) {
    form {
      flex-direction: column;
    }
    .sort-price {
      margin-bottom: 10px; margin-right: 0;
    }
  }
  @media (max-width: 400px) {
    .sort-price {
      flex-direction: column; align-items: flex-start;
      .control-label {
        margin-bottom: 5px;
      }
    }
  }
}
.right-content {
  padding: 0 0 0 17px; text-align: center;
  .collection {
    display: flex; flex-wrap: wrap; margin-bottom: 23px;
    .collection-item {
      width: 24.6%; margin-bottom: 8px;
      .image {
        max-height: 431px; margin-bottom: 0;
        img {
          height: auto;
        }
        .favorite {
          right: 10px;
          &:before {
            font-size: 13px;
          }
        }
      }
      .description {
        font-size: 12px; line-height: 15px; padding: 20px 35px; overflow: hidden;
        .text { margin-bottom: 10px; }
        .price {
          font-size: 14px;
        }
      }
      .favorite {
        width: 29px; height: 28px;
        &:before { color: #d7d7d7; }
        &:hover, &:focus, &:active {
          &:before { color: $color-light-blue; }
        }
      }
      @media (max-width: 1260px) {
        .description {
          padding: 20px 10px;
        }
      }
      @media (max-width: 700px) {
        width: 33.1%;
      }
      @media (max-width: 600px) {
        width: 49.8%;
      }
      @media (max-width: 520px) {
        width: 57.8%;
      }
      @media (max-width: 400px) {
        width: 100%;
      }
    }
    @media (max-width: 520px) {
      justify-content: center;
    }
  }
  @media (max-width: 991px) {
    padding: 0 15px;
  }
}

.block-viewed-item,
.block-top-sales {
  border-top: 1px solid #dddddd;
  .wrap {
    padding: 53px 7px 0; position: relative; max-width: 1545px; margin: 0 auto 73px;
    @media (max-width: 767px) {
      padding: 20px 15px 0; margin: 0 auto 20px;
    }
  }
  .title-page {
    font-size: 25px;
    margin-bottom: 37px;
  }
  .btn-see-all {
    font-weight: 500; font-size: 14px; color: $color-button-text; border-bottom: 1px solid $color-button-text; padding-bottom: 6px; position: absolute; top: 56px; right: 7px; transition: all .3s ease;
    &:hover, &:focus, &:active {
      color: $color-blue-text;
      border-color: $color-blue-text;
    }
    @media (max-width: 767px) {
      right: 30px;
    }
  }
}
.top-product {
  display: flex;
  .collection-item {
    width: 20%;
    .image {
      max-height: 463px; overflow: hidden; margin-bottom: 0;
    }
    .description {
      font-size: 12px; line-height: 15px; padding: 20px 35px; overflow: hidden;
      .text { margin-bottom: 10px; }
      .price {
        font-size: 14px;
      }
    }
    .favorite {
      width: 29px; height: 28px; right: 10px;
      &:before { color: #d7d7d7; }
      &:hover, &:focus, &:active {
        &:before { color: $color-light-blue; }
      }
    }
    @media (max-width: 1100px) {
      width: 24.9%; margin-bottom: 10px;
    }
    @media (max-width: 998px) {
      width: 32%;
    }
    @media (max-width: 767px) {
      width: 37%;
    }
    @media (max-width: 600px) {
      width: 45%;
    }
    @media (max-width: 450px) {
      width: 100%;
    }
  }
  @media (max-width: 1100px) {
    flex-wrap: wrap;
  }
  @media (max-width: 998px) {
    justify-content: center;
    .collection-item .description {
      padding: 20px 10px;
    }
  }
}
.block-image-info {
  background-position: 50% 0; background-repeat: no-repeat; background-size: cover; padding-top: 29.157%; position: relative; min-height: 200px; display: block;
  .title-block {
    position: absolute; left: 0; top: 46%; transform: translateY(-50%); display: flex; flex-direction: column; max-width: 600px; width: auto;
    span {
      display: inline-block;
    }
    .sub-title { margin-left: 185px; }
    @media (max-width: 767px) {
      padding-left: 15px; left: 0; font-size: 45px;
      .sub-title { margin-left: 25px; }
    }
    @media (max-width: 430px) {
      margin: 0;
      .sub-title {
        font-size: 17px;
      }
    }
  }
}
.price-slider-input {
  display: flex; align-items: center; justify-content: space-between; color: $color-gray-text;
  > span:not(:last-child) {
    margin-right: 5px;
  }
  .form-group {
    max-width: 120px; height: 40px; margin: 0 5px;
  }
}
.size-list {
  display: flex;
  input[type="checkbox"] {
    display: none;
  }
  .size-name {
    display: block; width: 60px; height: 39px; text-align: center; line-height: 39px; background: $color-white; border: 1px solid $color-border; color: #000000; font-size: 14px; font-weight: 500; cursor: pointer;
    transition: all .3s ease;
    &:hover, &:focus, &:active {
      background: $color-light-blue; color: $color-white;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  input[type="checkbox"]:checked + label {
    background: $color-light-blue; color: $color-white;
  }
  @media (max-width: 991px) {
    justify-content: center;
  }
}
.color-list {
  display: flex; flex-wrap: wrap;
  input[type="checkbox"] {
    display: none;
  }
  .color-item {
    display: block; width: 40px; height: 40px;border-radius: 50%; background: no-repeat; background-position: 0 50%; background-size: cover; position: relative; cursor: pointer;
    &:before {
      content: ''; display: block; position: absolute; left: 0; right: 0; height: 100%; background: transparent; transition: all .3s ease;
    }
    &:after {
      content: '\e903'; display: block; position: absolute; left: 0; right: 0; height: 100%; line-height: 40px; font-family: "icomoon"; text-align: center; font-size: 14px; background: rgba($color-white, .4); color: $color-button-text; opacity: 0; transition: all .3s ease;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover, &:focus, &:active {
      &:before {
        background: rgba($color-white, .2);
      }
    }
  }
  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  @media (max-width: 991px) {
    justify-content: center;
  }
}