.contact-page {
  padding-top: 34px;
  .contact-form {
    max-width: 1270px; margin: 0 auto 59px; background: $color-white; padding: 60px 0; color: $color-button-text;
    .contact-form-title {
      text-align: center; font-size: 25px;
      .sub-text {
        font-size: 14px; line-height: 20px; max-width: 450px; margin: 18px auto 31px auto;
      }
    }
    form {
      max-width: 520px; margin: 0 auto; text-align: center; padding: 0 15px;
      .phone-field {
        .input-group-btn {
          border-top: 1px solid $color-border; border-bottom: 1px solid $color-border; border-left: 1px solid $color-border; height: 45px; padding: 0; max-width: 58px;
          .btn-default {
            padding: 10px; font-size: 14px; color: $color-button-text;
            &:hover, &:focus, &:active {
              box-shadow: none; background: transparent; border: none;
            }
            &:before {
              content: none;
            }
          }
          &.open .btn {
            box-shadow: none; background: transparent; border: none;
          }
        }
      }
      textarea {
        height: 97px; margin-bottom: 15px;
      }
      .btn-primary {
        max-width: 156px; padding: 13px 15px 13px 15px; text-align: center;
        &:before {
          content: none;
        }
      }
      .form-group {
        text-align: left;
      }
    }
  }
}
.block-info {
  max-width: 1270px; margin: 0 auto 69px auto; position: relative;
  .image-bg-block {
    padding: 0 0 59%; background-position: 0 50%; background-repeat: no-repeat; background-size: cover;
  }
  .title {
    top: 16%; font-size: 21vw; mix-blend-mode: unset; line-height: normal;
    > p {
      mix-blend-mode: difference;
    }
    .mini-text {
      font-size: 28px;
      margin-top: -38px;
    }
  }
  .feedback-information {
    position: absolute; right: 0; top: 77px; max-width: 620px; background: $color-white; padding: 39px 50px 39px 39px; color: $color-button-text; overflow: hidden;
    .tab-flags {
      margin-bottom: 32px;
      li {
        a {
          font-size: 16px; padding: 7px 9px 2px 13px; letter-spacing: 1.7px; color: rgba($color-button-text, .7);
          &:hover, &:focus, &:active {
            background: transparent;
          }
        }
        &.active a {
          color: $color-white;
          &:hover, &:focus, &:active {
            background: $color-button-text;
          }
        }
      }
    }
    .description {
      margin-bottom: 23px;
    }
    .contact {
      padding-bottom: 17px; position: relative; margin-bottom: 27px;

      ul {
        display: flex; flex-wrap: wrap; font-size: 14px;
        li {
          width: 34%; margin-bottom: 20px;
          &.contact-name {
            font-weight: 500;
          }
          &.contact-item {
            a {
              display: block; margin-bottom: 3px;
            }
          }
        }
      }
      &:before {
        content: ''; display: block; position: absolute; left: 0; right: 0; margin: 0 -5000px; padding: 0 5000px; height: 1px; background: $color-border; bottom: 0;
      }
    }
  }
  .feedback-administration {
    .feedback-title {
      font-size: 20px; font-weight: 500; margin-bottom: 15px;
    }
    .text {
      margin-bottom: 18px;
    }
    .btn-primary.btn-big {
      max-width: 321px;
      &:before {
        content: '\e960'; font-size: 16px; right: 18px;
      }
    }
  }
  @media (max-width: 1200px) {
    .image-bg-block {
      padding: 0 0 75%;
    }
  }
  @media (max-width: 925px) {
    .image-bg-block {
      display: none;
    }
    .feedback-information {
      position: relative; max-width: none; top: 0;
      .contact ul li {
        width: 50%;
      }
    }
  }
  @media (max-width: 767px) {
    .feedback-information {
      .contact ul li {
        width: 100%;
      }
    }
  }
}