footer { padding: 67px 0 34px; border-top: 1px solid $color-light-gray; }
.footer-title {
  font-weight: bold; font-size: 13px; text-transform: uppercase; color: $color-button-text; margin-bottom: 20px;
}
.top-footer {
  margin-bottom: 54px;
  .wrap {
    display: flex;
  }
  .category-clothes {
    width: 15.5%;
  }
  .item {
    margin-bottom: 10px;
    a {
      font-weight: normal; font-size: 14px; color: $color-button-text; border-bottom: 1px solid transparent; transition: all .3s ease;
      &:hover, &:focus, &:active {
        border-color: $color-light-gray;
      }
    }
    &:last-child { margin-bottom: 0; }
  }
  .info-block {
    margin-left: 9.433333%;
  }
  .subscribe-block {
    .input-group {
      width: 100%;
    }
    .social-link {
      ul {
        display: flex;
        li {
          overflow:hidden; margin-right: 10px;
          a {
            display: block; width: 41px; height: 41px; border-radius: 50%; text-align: center; border: 1px solid $color-light-gray; line-height: 41px;
            &:before {
              content: ''; display: block;  font-family: "icomoon"; transition: all .3s ease; color: $color-button-text; font-size: 19px;
            }
            &:hover, &:focus, &:active {
              border-color: $color-blue-text;
             &:before {
               color: $color-blue-text;
             }
            }
            &.facebook:before {
              content: '\e918';
            }
            &.instagram:before {
              content: '\e92f';
            }
            &.youtube:before {
              content: '\e96e'; font-size: 18px;
            }
          }
          &:last-child { margin-right: 0; }
        }
      }
    }
  }
  @media (max-width: 1555px) {
    .category-clothes {
      width: 240px;
    }
    .info-block {
      margin-left: 3.333333%;
    }
  }
  @media (max-width: 1125px) {
    .subscribe-block {
      margin-left: 9.666667%;
    }
    .info-block {
      width: 36.333333%;
    }
  }
  @media (max-width: 991px) {
    .info-block {
      margin-bottom: 20px; width: 50%;
    }
    .subscribe-block {
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    .info-block {
      margin: 20px 0; width: 100%;
      .about-us { margin-bottom: 20px; }
    }
  }
}
.bottom-footer {
  font-size: 12px; color: $color-light-gray;
 .developers {
   text-align: right;
   a {
     color: $color-blue-text; transition: all .3s ease;
     &:hover, &:focus, &:active {
       color: $color-black;
     }
   }
 }
  @media (max-width: 767px) {
    .developers { text-align: left; }
  }
}