header {
  position: absolute; top: 0; left: 0; right: 0; z-index: 10;
  @media (max-width: 515px) {
    .top-header {
      position: absolute; left: 0; right: 0; bottom: -47px; z-index: 10; display: none;
      .contact-info {
        ul li {
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(4) {
            display: none;
          }
        }
      }
      &.open {
        display: block;
      }
    }
    .bottom-header {
      background: rgba($color-black, .7);
      .header-menu {
        padding: 55px 15px 0;
      }
    }
  }
}
.top-header {
  background: rgba($color-light-black,.8); padding: 0 40px;
  .contact-call, .contact-info {
    ul {
      display: flex; font-weight: 500; align-items: center;
      li {
        margin-right: 18px; color: rgba($color-white, .8); font-size: 12px;
        &:last-child { margin-right: 0; }
      }
    }
    .contact-item {
      text-transform: uppercase; color: rgba($color-white, .8); display: block; padding: 14px 0;
      &:hover, &:active, &:focus {
        box-shadow: inset 0 -3px 0 $color-light-blue;
      }
    }
  }
  .contact-call ul {
    font-weight: normal; justify-content: flex-end;
    .contact-item {
      padding: 16px 0; line-height: normal;
      &:hover, &:active, &:focus {
        color: $color-light-blue; box-shadow: none;
      }
    }
  }
  .feedback {
    margin-left: 39px; position: relative; border-bottom: 1px dashed $color-light-blue; line-height: 19px; cursor: pointer;
    &:before {
      content: '\e94c'; display: block;  position: absolute; left: -26px ; bottom: 0; font-size: 17px; font-family: "icomoon"; color: $color-blue-text;
    }
  }
  @media (max-width: 1332px) {
    padding: 0 15px;
    .contact-call ul li, .contact-info ul li {
      margin-right: 5px;
    }
  }
  @media (max-width: 1193px) {
    .contact-info { width: 100%; }
    .contact-info ul li { margin-right: 10px; }
    .contact-call ul { display: none; }
  }
  @media (max-width: 767px) {
    .contact-info ul {
      flex-wrap: wrap;
    }
    .contact-info .dropdown {
      padding-left: 0;
    }
  }
}
.bottom-header {
  padding: 24px 40px 0; line-height: 45px; border-bottom: 1px solid rgba($color-white, .10); position: relative;
  >.row {
    margin-right: 0; display: flex;
  }
  .logo { width: 15%; padding: 9px 15px 0; }
  .header-menu {
    display: flex; align-items: flex-start;  position: static; width: 85%; padding-right: 0; justify-content: space-between;
  }
  .main-menu {
    display: flex; font-weight: 500;
    .menu-item {
      margin-right: 20px; color: $color-white; font-size: 16px; text-transform: uppercase; transition: all .3s ease; display: block;
      a { color: $color-white; padding-bottom: 28px; }
      &:last-child { margin-right: 0; }
      &:hover, &:focus, &:active {
        box-shadow: inset 0 -3px 0 $color-light-blue;
        a { color: $color-light-blue; }
      }
    }
    .sub-menu {
      display: flex; align-items: baseline;
      > span { cursor: pointer; padding-bottom: 28px; display: block; }
      .hamburger-menu {
        width: 16px; height: 11px; position: relative; margin-right: 8px; cursor: pointer;
        span {
          background: $color-white; height: 1px; position: absolute; left: 0; right: 0; transition: all .5s linear;
          &:first-child { top: 0; }
          &:nth-child(2) { top: 50%; margin-top: -.5px; }
          &:last-child { bottom: 0; }
        }
      }
      .sub-menu-category {
        position: absolute; top: 100%; background: $color-white; display: flex; justify-content: space-between; padding: 11px 28px 27px; width: 100%; max-width: 1242px;
        transition: none; transform: translateY(50px); opacity: 0; visibility: hidden;
        .category-item {
          font-size: 14px; font-weight: normal; color: $color-black; padding-right: 95px;
          .category-title {
            text-transform: uppercase; margin-bottom: 19px;
          }
          .category-menu-item {
            line-height: normal; margin-bottom: 9px;
            a {
              font-size: 14px; font-weight: normal; color: $color-black; transition: all .3s ease; text-transform: none; padding-bottom: 0;
              &:hover, &:focus, &:active {
                text-shadow: 1px 0 0 #000;
              }
            }
            &:last-child { margin-bottom: 0; }
          }
          &:first-child {
            border-right: 1px solid $color-gray;
          }
        }
        .category-item-new {
          max-width: 546px; height: 381px; overflow: hidden; padding: 13px 0 0;
          a {
            display: block; position: relative;
            .category-item-new-title {
              display: block; position: absolute; top: 15px; left: 20px; font-family: "Roboto","Gotham", "Arial",sans-serif; font-size: 20px; font-weight: 500; background: $color-white;
              padding: 9px; border: 1px solid #616061; text-transform: uppercase; color: $color-black; line-height: 14px; letter-spacing: 3px;
            }
            img { height: 100%; object-fit: cover; }
          }
        }
        @media (max-width: 1515px) {
          left: 0;
        }
      }
      &:hover, &:focus, &:active {
        color: $color-light-blue;
        .hamburger-menu span { background: $color-light-blue; }
        .sub-menu-category {
          transform: translateY(0); opacity: 1; visibility:visible; transition:  all .3s linear;
        }
      }
    }
  }
  .header-search {
    position: relative;
    .btn-search {
      display: block; color: $color-white; text-transform: uppercase; margin-left: 11px; padding-left: 30px; position: relative; font-weight: 500; font-size: 16px; box-shadow: none;
      &:before { content: '\e95a'; display: block; position: absolute; left: 0; color: #00cdbc; font-size: 20px; font-family: "icomoon"; }
    }
    &.menu-item {
      &:hover, &:focus, &:active {
        box-shadow: none;
      }
    }
  }
  .personal-area {
    display: flex; justify-content: flex-end; align-items: center; font-size: 13px; line-height: normal; width: 35%; padding-right: 0; position: static;
    .user-info {
      display: flex; align-items: center;
      .user-login {
        &:hover, &:focus, &:active {
          .user-login-btn {
            color: $color-blue-text;
            &:after, &:before { color: $color-blue-text; }
          }
        }
      }
      .dropdown.open .user-login-btn { box-shadow: none; }
      .dropdown-item { text-transform: none; }
      .user-login-btn {
        position: relative; font-weight: 500; color: rgba($color-white,.5); padding: 0 15px 0 30px; margin-right: 31px; text-transform: none; font-size: 13px;
        &:after, &:before { content: ''; display: block; font-family: 'icomoon'; color: rgba($color-white,.5); position: absolute; top: 50%; transform: translateY(-50%);}
        &:before { content:'\e965'; left: 0; right: auto; font-size: 22px; }
        &:hover, &:focus, &:active {
          box-shadow: none;
        }
      }
      .wishlist {
        display: block; margin-right: 22px; padding-left: 30px; position: relative; color: rgba($color-white,.5); font-size: 12px;
        &:before {
          content: '\e964'; font-family: 'icomoon'; font-size: 20px; color: rgba($color-white,.5); transition: all .3s ease; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
        }
        &:hover, &:focus, &:active {
          color: $color-blue-text;
          &:before { color: $color-blue-text; }
        }
        &.active:before {
          color: $color-blue-text;
        }
      }
    }
    @media (max-width: 400px) {
      .user-info {
        justify-content: center;
        .user-login {
          margin-bottom: 10px;
        }
      }
    }
  }
  .search-block {
    position: absolute; top: 90%; left: 0; right: 0; display: flex; background: #fff; padding: 0 160px; height: 64px; box-shadow: -5px 0 5px rgba($color-black, .07);  visibility: hidden; opacity: 0; transform: translateY(50px);
    .field-search {
      width: 81%; position: relative;
      @include placeholder { font-size: 18px; color: rgba($color-button-text,.43); }
      input { width: 100%; height: 100%; border: none; background: none; padding-left: 50px; }
      &:before {
        content:'\e95a'; font-family: 'icomoon'; display: block; position: absolute; top: 50%; transform: translateY(-50%); left: 0; color: $color-button-text; font-size: 24px;
      }
    }
    .dropdown {
      width: 19%;
      .btn {
        text-transform: none; color: $color-button-text; font-weight: normal; font-size: 16px; padding: 0 0 0 27px; width: 100%; text-align: left; height: 100%;
        &:hover, &:focus, &:active {
          box-shadow: none;
        }
        &:after {
          content: ''; width: 0; height: 0; border-style: solid; border-width: 9px 5px 0 5px; border-color: $color-button-text transparent transparent transparent;
          position: absolute; top: 50%; right: 0; margin-top: -4.5px;
        }
      }
      .dropdown-menu {
        width: auto; border: none; top: 94%; right: 0; margin: 0; overflow: hidden; max-height: 367px; max-width: 100%;
        .dropdown-item {
          font-size: 15px; font-weight: normal; text-transform: none; cursor: pointer;
          &:hover, &:focus, &:active {
            color: $color-button-text;
          }
        }
      }
      &.open .btn { box-shadow: none; }
    }
    &.open {
      visibility: visible; transition: all .3s linear; transform: translateY(0); opacity: 1;
    }
  }
  .main-hamburger {
    width: 40px; height: 25px; position: relative; cursor: pointer; display: none;
    i {
      height: 3px; background: rgba($color-white, .5); position: absolute; left: 0; right: 0; top: 0; border-radius: 2px; transition: all .3s cubic-bezier(.55,.055,.675,.19);
      &:nth-child(2) { top: 50%; transform: translateY(-50%); width: 80%; }
      &:last-child { top: auto; bottom: 0; }
    }
    &:hover, &:focus, &:active {
      i { background: $color-blue-text; }
    }
    &.open {
      i {
        &:first-child {
          top: 50%; transform: translateY(-100%) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateX(-100%); opacity: 0;
        }
        &:last-child {
          bottom: 50%; transform: rotate(45deg);
        }
      }
    }
  }
  @media (max-width: 1507px) {
    padding: 15px 40px 0;
    .personal-area {
      float: right; width: 39%; padding-right: 15px;
      .user-info {
        .user-login-btn {
          margin-right: 5px;
        }
        .wishlist {
          margin-right: 15px;
        }
      }
    }
    .main-menu  {
      .menu-item {
        margin-right: 10px;
        li a {
          padding-bottom: 15px;
        }
      }
      .sub-menu > span {
        padding-bottom: 15px;
      }
    }
  }
  @media (max-width: 1331px) {
    padding: 15px 15px 0;
  }
  @media (max-width: 1215px) {
    padding: 25px 15px; line-height: normal;
    > .row {
      justify-content: space-between; align-items: baseline;
      &:after, &:before {
        content: none;
      }
    }
    .main-hamburger {
      display: block; float: right; top: 0;
    }
    .logo {
      float: left; width: 216px; padding-top: 0;
    }
    .personal-area {
      padding: 0; width: 100%; margin-bottom: 0; justify-content: center;
      .user-info {
        .user-login {
          margin-bottom: 0;
        }
        .user-login-btn {
          color: $color-button-text;
          &:after, &:before {
            color: $color-button-text;
          }
        }
        .wishlist:before {
          color: $color-button-text;
        }
      }
      .btn-cart {
        background: rgba($color-black, 0.15);
        color: rgba($color-black, 0.5);
      }
    }
    .header-menu {
      position: absolute; background: $color-white; top: 100%; left: 0; right: 0; width: 100%; padding: 20px 15px 20px; box-shadow: 0 5px 20px -10px rgba($color-black, .5); transform: translateY(50px); opacity: 0;
      flex-direction: column; overflow: hidden; visibility: hidden; transition: all .3s cubic-bezier(.55,.055,.675,.19); border-top: 1px solid rgba($color-black, .5);
      &.open { transform: translateY(0); visibility: visible; opacity: 1; }
      .main-menu {
        width: 100%; flex-direction: column;
        .menu-item {
          color: $color-button-text; margin-right: 0; text-align: center; margin-bottom: 15px;
          a { color: $color-button-text; }
          &.sub-menu {
            display: block;
            > span {
              text-align: center; padding-bottom: 0;
                position: relative; display: inline-block; padding-right: 20px;
                &:after {
                  content: '\e903'; font-family: 'icomoon'; display: block; color: $color-button-text; position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: 10px; transition: all .3s ease;
                }
              &.active:after {
                transform: translateY(-50%) rotate(180deg);
              }
            }
            .hamburger-menu {
              display: none;
            }
            .sub-menu-category {
              position: static; flex-direction: column; transform: none; opacity: 0; padding: 0; max-width: 400px; margin: 0 auto; transition: all .3s ease; max-height: 0; visibility: hidden;
              .category-item {
                border: none; padding-right: 0;
              }
              .category-item-new {
                display: none;
              }
              .category-title {
                margin-bottom: 0;
              }
              .category-menu {
                text-align: left;
              }
              &.open {
                max-height: 500px; opacity: 1; visibility: visible; overflow-y: auto; padding: 15px 0;
              }
            }
            &:hover, &:focus, &:active {
              box-shadow: none;
            }
          }
          &:hover, &:focus, &:active {
            box-shadow: none;
          }
        }
        .header-search .btn-search {
          display: inline-block; margin-left: 0; color: $color-button-text;
        }
      }
    }
    .search-block {
      padding: 0 15px;
      @media (max-width: 991px) {
        .field-search {
          width: 65%;
        }
        .dropdown {
          width: 35%;
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 15px; line-height: normal;
    > .row {
      text-align: center;
    }
    .logo, .personal-area, .main-hamburger {
      float: none;
    }
    .logo {
      text-align: center; width: auto;
      a {
        display: inline-block;
      }
    }
    .main-hamburger {
      display: inline-block;
    }
    .personal-area {
      width: 100%; display: flex; justify-content: center; margin-bottom: 5px;
      .user-info {  flex-wrap: wrap; }
      .user-login {
        margin-bottom: 15px;
        .dropdown .dropdown-menu {
          top: 100%;
        }
      }
    }
    .search-block, .header-menu { top: 100%; }
    .search-block {
      flex-wrap: wrap;
      .field-search, .dropdown { width: 100%; }
      .btn-secondary { padding-left: 0; }
    }
  }
}
.header-inner {
  position: relative; background: #f0f2f3;
  .personal-area .user-info .user-login-btn,
  .personal-area .user-info .user-login-btn:after,
  .personal-area .user-info .user-login-btn:before,
  .personal-area .user-info .wishlist:before,
  .personal-area .user-info .wishlist,
  .header-search .btn-search,
  .main-menu .menu-item,
  .main-menu .menu-item a {
    color: $color-button-text;
  }
  .main-menu .sub-menu .hamburger-menu span {
    background: $color-button-text;
  }
  .bottom-header {
    border-bottom: 1px solid rgba($color-button-text, 0.1); background: $color-white;
    .logo {
      width: 15%;
    }
    @media (max-width: 1287px) {
      .logo { width: 180px; }
    }
    @media (max-width: 1200px) {
      .logo { width: auto; }
    }
  }
  .btn-cart {
    border: 1px solid $color-button-text; color: $color-button-text;
    &.btn-cart-ico {
      &:before {
        color: $color-button-text;
      }
      &:hover, &:focus, &:active {
        background: $color-button-text; color: $color-white;
        &:before { color: $color-white; }
      }
    }
  }
  .user-login {
    display: flex; align-items: center; position: relative;
    .user-image {
      width: 44px; height: 44px; border-radius: 50%; overflow: hidden; background-repeat:no-repeat; background-position: 50% 0;
    }
    .dropdown {
      position: static;
      .dropdown-menu {
        top: 72px;
        .logout {
          border-top: 1px solid $color-gray-bg; position: relative;
          &:after {
            content: ''; display: block; position: absolute; top: 0; right: 0;
          }
        }
      }
      .user-login-btn {
        padding: 0 15px 0 0;
        &:before { content: none; }
        &:after { content: '\e903'; right: 0; font-size: 7px; }
      }
      &.open {
        .dropdown-menu {
          box-shadow: 0 -3px 0 $color-blue-text;
        }
      }
    }
  }
  .main-hamburger i { background: $color-button-text; }
  @media (max-width: 1215px) {
    .bottom-header .personal-area .btn-cart {
      background: transparent;
      &:hover, &:focus, &:active {
        background: $color-button-text;
      }
    }
  }
}