.main-slider {
   overflow: hidden;
  .main-slider-item {
    height: 100vh; position: relative;
    .button {
      position: absolute; bottom: 17.4%; left: 50%; transform: translateX(-50%);
      &:hover, &:focus, &:active {
        background: $color-white; color: $color-black;
      }
    }
  }
  .image-slide {
    position: relative; background-repeat:no-repeat; background-size: cover; background-position: 0 0; width:100%; height: 100%;
    &:before {
      content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; height: 451px; background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }
    &:after {
      content: ''; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; box-shadow: inset 0 -40px 200px 290px rgba(0, 0, 0, 0.25);
    }
  }
  .slick-dots {
    bottom: 50px;
    li[role="presentation"] {
      width: auto;
      button {
        width: 61px; height: 2px; background: rgba($color-white,.5); position: relative; padding: 0;
        &:before { content: none; }
        &:after {
         content: ''; position: absolute; top:0; left:0; height: 2px; width: 0; background: $color-white; padding: 0;
        }
      }
      &.slick-active {
        button:after { animation-name: animation-line-slide; animation-duration: 5s; animation-fill-mode: forwards; animation-timing-function: linear; }
      }
    }
  }
}
.slick-dotted.slick-slider { margin-bottom: 0; }
.top-main {
  position: relative; height: 100vh; overflow: hidden; margin-bottom: 70px;
  .description-slide {
    position: absolute; left: 0; top: 50%; transform: translateY(-50%);
  }
}
.block-collection {
  margin-bottom: 69px;
  .nav {
    margin-bottom: 49px; border: none;
    li {
      margin-right: 14px;
      a {
        font-family: "Roboto","Gotham", "Arial", sans-serif; font-weight: bold; text-transform: uppercase; font-size: 18px; letter-spacing: 2.5px; padding: 7px 13px 3px; position: relative;
        transition: color .3s ease; border-radius: 0; border: none;
        &:hover, &:active, &:focus {
          color: $color-blue-text;
        }
      }
      &.active {
        a {
          background: $color-button-text; color: $color-white; font-weight: 500; border: none;
          &:before {
            content: ''; display: block; width: 0; height: 0; border-style: solid; border-width: 17px 17px 0 0; border-color: #393939 transparent transparent transparent;
            position: absolute; bottom: -17px; left: 0;
          }
          &:hover, &:focus, &:active {
            color: $color-white;
          }
        }
      }
    }
  }
  .tab-content {
    text-align: center; position: relative; padding-bottom: 96px;
    .btn-collection {
      position: absolute; bottom: 0; left: 36.7%;
    }
  }
}
.collection-item {
  position: relative; margin-right: 1px;
  .image {
    display: block; position: relative; overflow: hidden; margin-bottom: 2px; height: 574px;
    img { height: 100%; }
    .favorite {
      position: absolute; top: 10px; right: 8px; background: $color-white; width: 39px; height: 38px; border-radius: 50%;
      &:before { content: '\0041'; display: block; font-size: 15px; font-family: "Glyphter"; position: absolute; left: 50%; top: 50%; transform: translate(-65%, -50%); transition: all .3s ease; }
    }
    .preview {
      position: absolute; left: 0; right:0; bottom: 0; background: $color-blue-bg; padding: 18px 0 16px; text-align: center; font-weight: 500; color: $color-button-text; font-size: 15px;
      transform: translateY(100%); transition: all .3s ease; z-index: 20;
      span {
        padding-left: 47px; display: inline-block; position: relative; margin-top: -16px;
        &:before {
          content: ''; display: block; @include sprite($preview-ico); position: absolute; top: 50%; left: 6px; margin-top: -16px;
        }
      }
    }
    &:before { content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: transparent; transition: all .3s ease; }
    &:hover, &:focus, &:active {
      &:before { background: rgba($color-white, .2); }
      .favorite:before { color: $color-light-blue; }
      .preview {
        transform: translateY(0);
      }
    }
  }
  .description {
    padding: 26px 50px; text-align: center; font-size: 15px; line-height: normal; color: $color-black; background: $color-white;
    .text {
      margin-bottom: 16px;
    }
  }
}
.block-product {
  margin-bottom: 100px; overflow: hidden;
  .row {
    margin: 0;
  }
  .left, .right {
    padding-left: 0;
    padding-right: 0;
  }
  .right {
    padding-top: 14.34%;
  }
  .product-item {
    position: relative; display: block;
    img { width: 100%; }
    &:before { content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: transparent; transition: all .3s ease; }
    &:hover, &:focus, &:active {
      &:before { background: rgba($color-white, .2); }
      .title-product {
        color: $color-button-text;
        span {  background: $color-light-blue; }
      }
    }
  }
  .title-product {
    position: absolute; top: 40px; letter-spacing: 3px; left: 42px;
  }
}
.block-instagram {
  position: relative; padding-top: 163px; margin-bottom: 69px;
  .title-inst {
    position: absolute; top: 0; left: 39.3%;
  }
  .collection-item {
    .image {
      height: auto;
    }
    .favorite {
      right: 13px;
      &:before { content: '\0061'; transform: translate(-50%, -50%); }
    }
    .name {
      display: block; background: $color-white; position: absolute; left: 0; bottom: 0; font-family: "Roboto", "Gotham", "Arial", sans-serif; font-size: 15px; color: $color-button-text;
      padding: 4px 10px;
    }
  }
}
.block-special-offer {
  position: relative; margin-bottom: 119px;
  .wrap-subscribe {
    position: absolute; top: 23.2%; left: 47%;
  }
  .subscribe-form {
    max-width: 689px; background: $color-gray-bg; padding: 47px 70px 60px;
    input {
      max-width: 490px; height: 60px;
    }
    .btn-subscribe {
      width: 75px; height: 59px; right: 56px;
      &:before { line-height: 59px; font-size: 22px; }
    }
  }
}
.description-page {
  font-weight: 300; color: $color-text; font-size: 14px; margin-bottom: 63px;
  .text {
    margin-bottom: 24px; line-height: 21px;
  }
  .description-title { font-size: 30px; margin-bottom: 21px; }
  .description-title-small { font-size: 25px; margin-bottom: 21px; }
}
@keyframes animation-line-slide {
  0% { width: 0; }
  100% { width: 100%; }
}
