.tab-content .personal-information.active {
  display: flex; justify-content: space-between;
}
.personal-col {
  width: 49.4%; overflow: hidden;
}
.profile, .delivery {
  background: $color-white; height: 100%;
}
.personal-area-information {
  padding-top: 34px;
  .nav-tabs {
    border-top: 1px solid $color-gray; border-bottom: 1px solid $color-gray; border-left: 1px solid $color-gray; display: inline-block; margin-bottom: 35px;
    li {
      margin: 0;
      a {
        display: block; padding: 16px 0 15px 37px;  font-size: 14px; color: #000; font-weight: normal; border: none; border-right: 1px solid $color-gray; border-radius: 0; width: 230px; margin-right: 0;
        transition: all .3s ease;
        &:before {
          content: ''; display: block; width: 0; height: 0; border-style: solid; border-width: 4px 0 4px 6px; border-color: transparent transparent transparent $color-button-text; position: absolute; left: 21px; top: 50%; margin-top: -4px;
        }
        &:hover, &:focus, &:active {
          background: $color-bg-blue;
        }
      }
      &.active {
        a {
          font-weight: 500; background: $color-bg-blue;
          &:hover, &:focus, &:active {
            border: none; border-right: 1px solid $color-gray; box-shadow: none; color: $color-black;
          }
        }
      }
    }
  }
}
.personal-information {
  margin-bottom: 60px;
  .delivery-data-form {
    padding: 22px 11px 18px 27px;
    input {
      display: inline-block; max-width: 128px;
    }
    .form-group {
      margin-bottom: 19px;
    }
  }
  textarea {
    max-width: 540px; height: 62px; padding-top: 15px;
  }
  span.control-label { vertical-align: top; }
  .control-label {
    display: inline-block; width: 18.7%;
  }
  .street-field {
    display: inline-block; max-width: 540px; width: 100%; margin-bottom: 18px;
    .bootstrap-select {
      max-width: 128px;
    }
    input {
      max-width: 406px; vertical-align: bottom;
    }
  }
  .exact-street-field {
    display: flex; padding-left: 19.3%;
    .control-label {
      width: auto;
    }
    .exact-field {
      max-width: 128px; margin-right: 20px;
    }
  }
  .radio-field {
    max-width: 540px; display: inline-block;
    input[type="radio"] {
      display: none;
    }
    label {
      font-size: 14px; font-weight: normal; color: $color-button-text; display: block; padding-left: 31px; position: relative; cursor: pointer; margin-bottom: 14px;
      &:before { content: ''; display: block; width: 23px; height: 22px; border: 1px solid $color-gray; border-radius: 50%; background: #f7f7f7; position: absolute; left: 0; }
      &:after {
        content: ''; display: block; width: 11px; height: 11px; border-radius: 50%; background: $color-button-text; position: absolute; top: 6px; left: 6px; transform: scale(0);
        transition: all .3s ease;
      }
    }
    input[type="radio"]:checked + label:after {
       transform: scale(1);
    }
  }
  .btn-primary { margin-left: 19.3%; }
}
.profile {
  .profile-user {
    padding: 43px 41px 18px 41px; background: $color-white;
  }
  .input-group {
    display: inline-block; max-width: 376px; margin-bottom: 0; vertical-align: middle;
  }
  .personal-data-form {
    position: relative; color: $color-button-text;
    .form-group {
      margin-bottom: 20px; position: relative;
    }
    .upload-user-photo {
      position: absolute; top: 0; right: 0;
      .photo {
        width: 116px; height: 116px; border-radius: 50%; overflow: hidden;
        img { width: 100%; object-fit: cover; }
      }
      .upload-photo-overlay {
        input[type="file"] { display: none; }
        .upload-link {
          cursor: pointer; font-size: 12px; font-weight: normal; margin-bottom: 0; border-bottom: 1px solid $color-gray; line-height: normal; position: relative; margin-left: 25px; transition: all .3s ease;
          &:before { content: '\0050'; font-family: "Glyphter";  display: block; position: absolute; left: -25px; top: 0; font-size: 13px; transition: all .3s ease;  }
          &:hover, &:focus, &:active {
            color: $color-blue-text;
            &:before { color: $color-blue-text; }
          }
        }
      }
    }
    .password-field, .phone-field {
      max-width: 230px;
    }
    .phone-field {
      position: relative;
      .input-group-btn {
        position: absolute; left: 0; top: 0; z-index: 10; width: 58px; height: 45px; line-height: 45px; text-align: center; background: #fafafa; padding: 0;
        border: 1px solid $color-gray;
        .btn-default {
          width: 100%; padding: 0; color: $color-button-text;
          &:before { content: none; }
          &:hover, &:focus, &:active {
            box-shadow: none;
          }
        }
        &.open {
          .btn-default { box-shadow: none; }
        }
        .dropdown-menu {
          min-width: auto; padding: 0;
        }
      }
      input { padding-left: 69px; }
    }
  }
  .pwd-link {
    position: absolute; top: 50%; left: 56.2%; display: block; transform: translateY(-50%); font-size: 12px; line-height: normal; color: $color-button-text; border-bottom: 1px solid $color-gray;
  }
}
/*** BEGIN ORDER TAB ***/
.order-table {
  background: $color-white; padding: 36px 32px 36px 39px;
  ul li { margin-bottom: 7px; }
  table {
    width: 100%;
    thead {
      td {
        font-size: 14px; color: $color-button-text; font-weight: 500; padding: 0 5px 15px; vertical-align: top;
      }
    }
    tbody {
      tr {
        border: 1px solid $color-gray;
        td {
          font-size: 14px; color: $color-button-text; padding: 26px 6px 17.5px; vertical-align: top;
          &.col-table-md { padding-top: 25px; }
          &:last-child {
            width: 10%;
          }
        }
      }
    }
  }
  .col-table-lg {
    width: 25.8%;
  }
  .col-table-md {
    width: 13%; padding: 0 5px 17px 30px
  }
  .col-table-sm {
    width: 8%;
  }
  .col-table-1 {
    width: 11%;
  }
  .product-list {
    li a {
     display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 345px;
    }
  }
  .product-qty {
    padding: 0 25px;
  }
  .product-sales {
    font-weight: bold; padding: 0 15px;
  }
  .product-total {
    font-weight: bold;
  }
  .status-order {
    .status {
      display: block; color: $color-button-text; position: relative; font-size: 12px; padding-left: 20px; margin-bottom: 10px;
      &.not-pay {
        color: $color-red;
        &:before {
          border-color: $color-red;
        }
        &:after { background: $color-red; }
      }
      &.pay {
        color: $color-green;
        &:before {
          border-color: $color-green;
        }
        &:after {
          background: $color-green;
        }
      }
      &:before, &:after {
        top: 50%; transform: translateY(-50%);
      }
      &:before {
        content: ''; display: block; position: absolute; left: 0; width: 15px; height: 15px; border-radius: 50%; border: 1px solid transparent;
      }
      &:after {
        content: ''; display: block; width: 9px; height: 9px; background: transparent; border-radius: 50%; position: absolute; left: 2.5px;
      }
    }
    .btn-pay {
      display: block; background: $color-button-text; color: $color-white; max-width: 139px; padding: 10px 0 10px 15px; text-align: left; font-size: 12px; font-weight: 500;
    }
  }
}
/*** END ORDER TAB ***/
