// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$active-like-small-ico-name: 'active_like_small_ico';
$active-like-small-ico-x: 247px;
$active-like-small-ico-y: 174px;
$active-like-small-ico-offset-x: -247px;
$active-like-small-ico-offset-y: -174px;
$active-like-small-ico-width: 13px;
$active-like-small-ico-height: 11px;
$active-like-small-ico-total-width: 292px;
$active-like-small-ico-total-height: 254px;
$active-like-small-ico-image: '../images/sprite.png';
$active-like-small-ico: (247px, 174px, -247px, -174px, 13px, 11px, 292px, 254px, '../images/sprite.png', 'active_like_small_ico', );
$any-questions-ico-name: 'any_questions_ico';
$any-questions-ico-x: 233px;
$any-questions-ico-y: 87px;
$any-questions-ico-offset-x: -233px;
$any-questions-ico-offset-y: -87px;
$any-questions-ico-width: 14px;
$any-questions-ico-height: 21px;
$any-questions-ico-total-width: 292px;
$any-questions-ico-total-height: 254px;
$any-questions-ico-image: '../images/sprite.png';
$any-questions-ico: (233px, 87px, -233px, -87px, 14px, 21px, 292px, 254px, '../images/sprite.png', 'any_questions_ico', );
$any-questions-round-ico-name: 'any_questions_round_ico';
$any-questions-round-ico-x: 128px;
$any-questions-round-ico-y: 0px;
$any-questions-round-ico-offset-x: -128px;
$any-questions-round-ico-offset-y: 0px;
$any-questions-round-ico-width: 64px;
$any-questions-round-ico-height: 64px;
$any-questions-round-ico-total-width: 292px;
$any-questions-round-ico-total-height: 254px;
$any-questions-round-ico-image: '../images/sprite.png';
$any-questions-round-ico: (128px, 0px, -128px, 0px, 64px, 64px, 292px, 254px, '../images/sprite.png', 'any_questions_round_ico', );
$arrow-down-ico-name: 'arrow_down_ico';
$arrow-down-ico-x: 280px;
$arrow-down-ico-y: 209px;
$arrow-down-ico-offset-x: -280px;
$arrow-down-ico-offset-y: -209px;
$arrow-down-ico-width: 12px;
$arrow-down-ico-height: 7px;
$arrow-down-ico-total-width: 292px;
$arrow-down-ico-total-height: 254px;
$arrow-down-ico-image: '../images/sprite.png';
$arrow-down-ico: (280px, 209px, -280px, -209px, 12px, 7px, 292px, 254px, '../images/sprite.png', 'arrow_down_ico', );
$arrow-left-ico-name: 'arrow_left_ico';
$arrow-left-ico-x: 286px;
$arrow-left-ico-y: 26px;
$arrow-left-ico-offset-x: -286px;
$arrow-left-ico-offset-y: -26px;
$arrow-left-ico-width: 4px;
$arrow-left-ico-height: 8px;
$arrow-left-ico-total-width: 292px;
$arrow-left-ico-total-height: 254px;
$arrow-left-ico-image: '../images/sprite.png';
$arrow-left-ico: (286px, 26px, -286px, -26px, 4px, 8px, 292px, 254px, '../images/sprite.png', 'arrow_left_ico', );
$arrow-right-pages-ico-name: 'arrow_right_pages_ico';
$arrow-right-pages-ico-x: 286px;
$arrow-right-pages-ico-y: 34px;
$arrow-right-pages-ico-offset-x: -286px;
$arrow-right-pages-ico-offset-y: -34px;
$arrow-right-pages-ico-width: 4px;
$arrow-right-pages-ico-height: 8px;
$arrow-right-pages-ico-total-width: 292px;
$arrow-right-pages-ico-total-height: 254px;
$arrow-right-pages-ico-image: '../images/sprite.png';
$arrow-right-pages-ico: (286px, 34px, -286px, -34px, 4px, 8px, 292px, 254px, '../images/sprite.png', 'arrow_right_pages_ico', );
$back-arrow-name: 'back_arrow';
$back-arrow-x: 262px;
$back-arrow-y: 231px;
$back-arrow-offset-x: -262px;
$back-arrow-offset-y: -231px;
$back-arrow-width: 21px;
$back-arrow-height: 14px;
$back-arrow-total-width: 292px;
$back-arrow-total-height: 254px;
$back-arrow-image: '../images/sprite.png';
$back-arrow: (262px, 231px, -262px, -231px, 21px, 14px, 292px, 254px, '../images/sprite.png', 'back_arrow', );
$bascket-ico-name: 'bascket_ico';
$bascket-ico-x: 262px;
$bascket-ico-y: 198px;
$bascket-ico-offset-x: -262px;
$bascket-ico-offset-y: -198px;
$bascket-ico-width: 18px;
$bascket-ico-height: 18px;
$bascket-ico-total-width: 292px;
$bascket-ico-total-height: 254px;
$bascket-ico-image: '../images/sprite.png';
$bascket-ico: (262px, 198px, -262px, -198px, 18px, 18px, 292px, 254px, '../images/sprite.png', 'bascket_ico', );
$call-ico-name: 'call_ico';
$call-ico-x: 262px;
$call-ico-y: 26px;
$call-ico-offset-x: -262px;
$call-ico-offset-y: -26px;
$call-ico-width: 24px;
$call-ico-height: 24px;
$call-ico-total-width: 292px;
$call-ico-total-height: 254px;
$call-ico-image: '../images/sprite.png';
$call-ico: (262px, 26px, -262px, -26px, 24px, 24px, 292px, 254px, '../images/sprite.png', 'call_ico', );
$call-round-ico-name: 'call_round_ico';
$call-round-ico-x: 0px;
$call-round-ico-y: 0px;
$call-round-ico-offset-x: 0px;
$call-round-ico-offset-y: 0px;
$call-round-ico-width: 64px;
$call-round-ico-height: 64px;
$call-round-ico-total-width: 292px;
$call-round-ico-total-height: 254px;
$call-round-ico-image: '../images/sprite.png';
$call-round-ico: (0px, 0px, 0px, 0px, 64px, 64px, 292px, 254px, '../images/sprite.png', 'call_round_ico', );
$card-ico-copy-name: 'card_ico copy';
$card-ico-copy-x: 177px;
$card-ico-copy-y: 192px;
$card-ico-copy-offset-x: -177px;
$card-ico-copy-offset-y: -192px;
$card-ico-copy-width: 34px;
$card-ico-copy-height: 26px;
$card-ico-copy-total-width: 292px;
$card-ico-copy-total-height: 254px;
$card-ico-copy-image: '../images/sprite.png';
$card-ico-copy: (177px, 192px, -177px, -192px, 34px, 26px, 292px, 254px, '../images/sprite.png', 'card_ico copy', );
$card-ico-name: 'card_ico';
$card-ico-x: 128px;
$card-ico-y: 64px;
$card-ico-offset-x: -128px;
$card-ico-offset-y: -64px;
$card-ico-width: 64px;
$card-ico-height: 64px;
$card-ico-total-width: 292px;
$card-ico-total-height: 254px;
$card-ico-image: '../images/sprite.png';
$card-ico: (128px, 64px, -128px, -64px, 64px, 64px, 292px, 254px, '../images/sprite.png', 'card_ico', );
$checked-name: 'checked';
$checked-x: 262px;
$checked-y: 123px;
$checked-offset-x: -262px;
$checked-offset-y: -123px;
$checked-width: 20px;
$checked-height: 20px;
$checked-total-width: 292px;
$checked-total-height: 254px;
$checked-image: '../images/sprite.png';
$checked: (262px, 123px, -262px, -123px, 20px, 20px, 292px, 254px, '../images/sprite.png', 'checked', );
$day-product-ico-name: 'day_product_ico';
$day-product-ico-x: 192px;
$day-product-ico-y: 123px;
$day-product-ico-offset-x: -192px;
$day-product-ico-offset-y: -123px;
$day-product-ico-width: 38px;
$day-product-ico-height: 38px;
$day-product-ico-total-width: 292px;
$day-product-ico-total-height: 254px;
$day-product-ico-image: '../images/sprite.png';
$day-product-ico: (192px, 123px, -192px, -123px, 38px, 38px, 292px, 254px, '../images/sprite.png', 'day_product_ico', );
$delivery-ico-name: 'delivery_ico';
$delivery-ico-x: 0px;
$delivery-ico-y: 230px;
$delivery-ico-offset-x: 0px;
$delivery-ico-offset-y: -230px;
$delivery-ico-width: 34px;
$delivery-ico-height: 24px;
$delivery-ico-total-width: 292px;
$delivery-ico-total-height: 254px;
$delivery-ico-image: '../images/sprite.png';
$delivery-ico: (0px, 230px, 0px, -230px, 34px, 24px, 292px, 254px, '../images/sprite.png', 'delivery_ico', );
$delivery-round-ico-name: 'delivery_round_ico';
$delivery-round-ico-x: 0px;
$delivery-round-ico-y: 128px;
$delivery-round-ico-offset-x: 0px;
$delivery-round-ico-offset-y: -128px;
$delivery-round-ico-width: 64px;
$delivery-round-ico-height: 64px;
$delivery-round-ico-total-width: 292px;
$delivery-round-ico-total-height: 254px;
$delivery-round-ico-image: '../images/sprite.png';
$delivery-round-ico: (0px, 128px, 0px, -128px, 64px, 64px, 292px, 254px, '../images/sprite.png', 'delivery_round_ico', );
$download-photo-ico-name: 'download_photo_ico';
$download-photo-ico-x: 233px;
$download-photo-ico-y: 137px;
$download-photo-ico-offset-x: -233px;
$download-photo-ico-offset-y: -137px;
$download-photo-ico-width: 19px;
$download-photo-ico-height: 13px;
$download-photo-ico-total-width: 292px;
$download-photo-ico-total-height: 254px;
$download-photo-ico-image: '../images/sprite.png';
$download-photo-ico: (233px, 137px, -233px, -137px, 19px, 13px, 292px, 254px, '../images/sprite.png', 'download_photo_ico', );
$email-ico-name: 'email_ico';
$email-ico-x: 262px;
$email-ico-y: 216px;
$email-ico-offset-x: -262px;
$email-ico-offset-y: -216px;
$email-ico-width: 20px;
$email-ico-height: 15px;
$email-ico-total-width: 292px;
$email-ico-total-height: 254px;
$email-ico-image: '../images/sprite.png';
$email-ico: (262px, 216px, -262px, -216px, 20px, 15px, 292px, 254px, '../images/sprite.png', 'email_ico', );
$facebook-ico-name: 'facebook_ico';
$facebook-ico-x: 282px;
$facebook-ico-y: 50px;
$facebook-ico-offset-x: -282px;
$facebook-ico-offset-y: -50px;
$facebook-ico-width: 8px;
$facebook-ico-height: 15px;
$facebook-ico-total-width: 292px;
$facebook-ico-total-height: 254px;
$facebook-ico-image: '../images/sprite.png';
$facebook-ico: (282px, 50px, -282px, -50px, 8px, 15px, 292px, 254px, '../images/sprite.png', 'facebook_ico', );
$fb-round-hover-ico-name: 'fb_round_hover_ico';
$fb-round-hover-ico-x: 105px;
$fb-round-hover-ico-y: 128px;
$fb-round-hover-ico-offset-x: -105px;
$fb-round-hover-ico-offset-y: -128px;
$fb-round-hover-ico-width: 41px;
$fb-round-hover-ico-height: 41px;
$fb-round-hover-ico-total-width: 292px;
$fb-round-hover-ico-total-height: 254px;
$fb-round-hover-ico-image: '../images/sprite.png';
$fb-round-hover-ico: (105px, 128px, -105px, -128px, 41px, 41px, 292px, 254px, '../images/sprite.png', 'fb_round_hover_ico', );
$fb-round-ico-name: 'fb_round_ico';
$fb-round-ico-x: 192px;
$fb-round-ico-y: 82px;
$fb-round-ico-offset-x: -192px;
$fb-round-ico-offset-y: -82px;
$fb-round-ico-width: 41px;
$fb-round-ico-height: 41px;
$fb-round-ico-total-width: 292px;
$fb-round-ico-total-height: 254px;
$fb-round-ico-image: '../images/sprite.png';
$fb-round-ico: (192px, 82px, -192px, -82px, 41px, 41px, 292px, 254px, '../images/sprite.png', 'fb_round_ico', );
$gamburger-menu-ico-name: 'gamburger_menu_ico';
$gamburger-menu-ico-x: 233px;
$gamburger-menu-ico-y: 150px;
$gamburger-menu-ico-offset-x: -233px;
$gamburger-menu-ico-offset-y: -150px;
$gamburger-menu-ico-width: 16px;
$gamburger-menu-ico-height: 12px;
$gamburger-menu-ico-total-width: 292px;
$gamburger-menu-ico-total-height: 254px;
$gamburger-menu-ico-image: '../images/sprite.png';
$gamburger-menu-ico: (233px, 150px, -233px, -150px, 16px, 12px, 292px, 254px, '../images/sprite.png', 'gamburger_menu_ico', );
$go-pay-ico-name: 'go_pay_ico';
$go-pay-ico-x: 233px;
$go-pay-ico-y: 174px;
$go-pay-ico-offset-x: -233px;
$go-pay-ico-offset-y: -174px;
$go-pay-ico-width: 14px;
$go-pay-ico-height: 12px;
$go-pay-ico-total-width: 292px;
$go-pay-ico-total-height: 254px;
$go-pay-ico-image: '../images/sprite.png';
$go-pay-ico: (233px, 174px, -233px, -174px, 14px, 12px, 292px, 254px, '../images/sprite.png', 'go_pay_ico', );
$google-account-ico-name: 'google_account_ico';
$google-account-ico-x: 233px;
$google-account-ico-y: 108px;
$google-account-ico-offset-x: -233px;
$google-account-ico-offset-y: -108px;
$google-account-ico-width: 20px;
$google-account-ico-height: 13px;
$google-account-ico-total-width: 292px;
$google-account-ico-total-height: 254px;
$google-account-ico-image: '../images/sprite.png';
$google-account-ico: (233px, 108px, -233px, -108px, 20px, 13px, 292px, 254px, '../images/sprite.png', 'google_account_ico', );
$heart-round-blue-ico-name: 'heart_round_blue_ico';
$heart-round-blue-ico-x: 233px;
$heart-round-blue-ico-y: 58px;
$heart-round-blue-ico-offset-x: -233px;
$heart-round-blue-ico-offset-y: -58px;
$heart-round-blue-ico-width: 29px;
$heart-round-blue-ico-height: 29px;
$heart-round-blue-ico-total-width: 292px;
$heart-round-blue-ico-total-height: 254px;
$heart-round-blue-ico-image: '../images/sprite.png';
$heart-round-blue-ico: (233px, 58px, -233px, -58px, 29px, 29px, 292px, 254px, '../images/sprite.png', 'heart_round_blue_ico', );
$hot-product-ico-name: 'hot_product_ico';
$hot-product-ico-x: 0px;
$hot-product-ico-y: 192px;
$hot-product-ico-offset-x: 0px;
$hot-product-ico-offset-y: -192px;
$hot-product-ico-width: 38px;
$hot-product-ico-height: 38px;
$hot-product-ico-total-width: 292px;
$hot-product-ico-total-height: 254px;
$hot-product-ico-image: '../images/sprite.png';
$hot-product-ico: (0px, 192px, 0px, -192px, 38px, 38px, 292px, 254px, '../images/sprite.png', 'hot_product_ico', );
$inst-heart-name: 'inst_heart';
$inst-heart-x: 262px;
$inst-heart-y: 0px;
$inst-heart-offset-x: -262px;
$inst-heart-offset-y: 0px;
$inst-heart-width: 30px;
$inst-heart-height: 26px;
$inst-heart-total-width: 292px;
$inst-heart-total-height: 254px;
$inst-heart-image: '../images/sprite.png';
$inst-heart: (262px, 0px, -262px, 0px, 30px, 26px, 292px, 254px, '../images/sprite.png', 'inst_heart', );
$insta-photo-fallinlove-ico-name: 'insta_photo_fallinlove_ico';
$insta-photo-fallinlove-ico-x: 38px;
$insta-photo-fallinlove-ico-y: 192px;
$insta-photo-fallinlove-ico-offset-x: -38px;
$insta-photo-fallinlove-ico-offset-y: -192px;
$insta-photo-fallinlove-ico-width: 38px;
$insta-photo-fallinlove-ico-height: 38px;
$insta-photo-fallinlove-ico-total-width: 292px;
$insta-photo-fallinlove-ico-total-height: 254px;
$insta-photo-fallinlove-ico-image: '../images/sprite.png';
$insta-photo-fallinlove-ico: (38px, 192px, -38px, -192px, 38px, 38px, 292px, 254px, '../images/sprite.png', 'insta_photo_fallinlove_ico', );
$insta-photo-falllove-ico-name: 'insta_photo_falllove_ico';
$insta-photo-falllove-ico-x: 262px;
$insta-photo-falllove-ico-y: 180px;
$insta-photo-falllove-ico-offset-x: -262px;
$insta-photo-falllove-ico-offset-y: -180px;
$insta-photo-falllove-ico-width: 18px;
$insta-photo-falllove-ico-height: 18px;
$insta-photo-falllove-ico-total-width: 292px;
$insta-photo-falllove-ico-total-height: 254px;
$insta-photo-falllove-ico-image: '../images/sprite.png';
$insta-photo-falllove-ico: (262px, 180px, -262px, -180px, 18px, 18px, 292px, 254px, '../images/sprite.png', 'insta_photo_falllove_ico', );
$instagram-round-hover-ico-name: 'instagram_round_hover_ico';
$instagram-round-hover-ico-x: 146px;
$instagram-round-hover-ico-y: 128px;
$instagram-round-hover-ico-offset-x: -146px;
$instagram-round-hover-ico-offset-y: -128px;
$instagram-round-hover-ico-width: 41px;
$instagram-round-hover-ico-height: 41px;
$instagram-round-hover-ico-total-width: 292px;
$instagram-round-hover-ico-total-height: 254px;
$instagram-round-hover-ico-image: '../images/sprite.png';
$instagram-round-hover-ico: (146px, 128px, -146px, -128px, 41px, 41px, 292px, 254px, '../images/sprite.png', 'instagram_round_hover_ico', );
$instagram-round-ico-name: 'instagram_round_ico';
$instagram-round-ico-x: 64px;
$instagram-round-ico-y: 128px;
$instagram-round-ico-offset-x: -64px;
$instagram-round-ico-offset-y: -128px;
$instagram-round-ico-width: 41px;
$instagram-round-ico-height: 41px;
$instagram-round-ico-total-width: 292px;
$instagram-round-ico-total-height: 254px;
$instagram-round-ico-image: '../images/sprite.png';
$instagram-round-ico: (64px, 128px, -64px, -128px, 41px, 41px, 292px, 254px, '../images/sprite.png', 'instagram_round_ico', );
$like-active-ico-name: 'like_active_ico';
$like-active-ico-x: 262px;
$like-active-ico-y: 143px;
$like-active-ico-offset-x: -262px;
$like-active-ico-offset-y: -143px;
$like-active-ico-width: 20px;
$like-active-ico-height: 18px;
$like-active-ico-total-width: 292px;
$like-active-ico-total-height: 254px;
$like-active-ico-image: '../images/sprite.png';
$like-active-ico: (262px, 143px, -262px, -143px, 20px, 18px, 292px, 254px, '../images/sprite.png', 'like_active_ico', );
$lock-ico-name: 'lock_ico';
$lock-ico-x: 280px;
$lock-ico-y: 161px;
$lock-ico-offset-x: -280px;
$lock-ico-offset-y: -161px;
$lock-ico-width: 12px;
$lock-ico-height: 16px;
$lock-ico-total-width: 292px;
$lock-ico-total-height: 254px;
$lock-ico-image: '../images/sprite.png';
$lock-ico: (280px, 161px, -280px, -161px, 12px, 16px, 292px, 254px, '../images/sprite.png', 'lock_ico', );
$mail-us-ico-name: 'mail_us_ico';
$mail-us-ico-x: 64px;
$mail-us-ico-y: 64px;
$mail-us-ico-offset-x: -64px;
$mail-us-ico-offset-y: -64px;
$mail-us-ico-width: 64px;
$mail-us-ico-height: 64px;
$mail-us-ico-total-width: 292px;
$mail-us-ico-total-height: 254px;
$mail-us-ico-image: '../images/sprite.png';
$mail-us-ico: (64px, 64px, -64px, -64px, 64px, 64px, 292px, 254px, '../images/sprite.png', 'mail_us_ico', );
$money-cash-copy-name: 'money_cash copy';
$money-cash-copy-x: 233px;
$money-cash-copy-y: 0px;
$money-cash-copy-offset-x: -233px;
$money-cash-copy-offset-y: 0px;
$money-cash-copy-width: 29px;
$money-cash-copy-height: 29px;
$money-cash-copy-total-width: 292px;
$money-cash-copy-total-height: 254px;
$money-cash-copy-image: '../images/sprite.png';
$money-cash-copy: (233px, 0px, -233px, 0px, 29px, 29px, 292px, 254px, '../images/sprite.png', 'money_cash copy', );
$money-cash-name: 'money_cash';
$money-cash-x: 0px;
$money-cash-y: 64px;
$money-cash-offset-x: 0px;
$money-cash-offset-y: -64px;
$money-cash-width: 64px;
$money-cash-height: 64px;
$money-cash-total-width: 292px;
$money-cash-total-height: 254px;
$money-cash-image: '../images/sprite.png';
$money-cash: (0px, 64px, 0px, -64px, 64px, 64px, 292px, 254px, '../images/sprite.png', 'money_cash', );
$passive-like-ico-name: 'passive_like_ico';
$passive-like-ico-x: 249px;
$passive-like-ico-y: 150px;
$passive-like-ico-offset-x: -249px;
$passive-like-ico-offset-y: -150px;
$passive-like-ico-width: 13px;
$passive-like-ico-height: 11px;
$passive-like-ico-total-width: 292px;
$passive-like-ico-total-height: 254px;
$passive-like-ico-image: '../images/sprite.png';
$passive-like-ico: (249px, 150px, -249px, -150px, 13px, 11px, 292px, 254px, '../images/sprite.png', 'passive_like_ico', );
$passive-like-round-ico-name: 'passive_like_round_ico';
$passive-like-round-ico-x: 233px;
$passive-like-round-ico-y: 29px;
$passive-like-round-ico-offset-x: -233px;
$passive-like-round-ico-offset-y: -29px;
$passive-like-round-ico-width: 29px;
$passive-like-round-ico-height: 29px;
$passive-like-round-ico-total-width: 292px;
$passive-like-round-ico-total-height: 254px;
$passive-like-round-ico-image: '../images/sprite.png';
$passive-like-round-ico: (233px, 29px, -233px, -29px, 29px, 29px, 292px, 254px, '../images/sprite.png', 'passive_like_round_ico', );
$phone-ico-name: 'phone_ico';
$phone-ico-x: 247px;
$phone-ico-y: 87px;
$phone-ico-offset-x: -247px;
$phone-ico-offset-y: -87px;
$phone-ico-width: 13px;
$phone-ico-height: 19px;
$phone-ico-total-width: 292px;
$phone-ico-total-height: 254px;
$phone-ico-image: '../images/sprite.png';
$phone-ico: (247px, 87px, -247px, -87px, 13px, 19px, 292px, 254px, '../images/sprite.png', 'phone_ico', );
$preview-ico-name: 'preview_ico';
$preview-ico-x: 145px;
$preview-ico-y: 192px;
$preview-ico-offset-x: -145px;
$preview-ico-offset-y: -192px;
$preview-ico-width: 32px;
$preview-ico-height: 32px;
$preview-ico-total-width: 292px;
$preview-ico-total-height: 254px;
$preview-ico-image: '../images/sprite.png';
$preview-ico: (145px, 192px, -145px, -192px, 32px, 32px, 292px, 254px, '../images/sprite.png', 'preview_ico', );
$print-ico-name: 'print_ico';
$print-ico-x: 262px;
$print-ico-y: 161px;
$print-ico-offset-x: -262px;
$print-ico-offset-y: -161px;
$print-ico-width: 18px;
$print-ico-height: 19px;
$print-ico-total-width: 292px;
$print-ico-total-height: 254px;
$print-ico-image: '../images/sprite.png';
$print-ico: (262px, 161px, -262px, -161px, 18px, 19px, 292px, 254px, '../images/sprite.png', 'print_ico', );
$receipt-ico-copy-name: 'receipt_ico copy';
$receipt-ico-copy-x: 192px;
$receipt-ico-copy-y: 161px;
$receipt-ico-copy-offset-x: -192px;
$receipt-ico-copy-offset-y: -161px;
$receipt-ico-copy-width: 34px;
$receipt-ico-copy-height: 29px;
$receipt-ico-copy-total-width: 292px;
$receipt-ico-copy-total-height: 254px;
$receipt-ico-copy-image: '../images/sprite.png';
$receipt-ico-copy: (192px, 161px, -192px, -161px, 34px, 29px, 292px, 254px, '../images/sprite.png', 'receipt_ico copy', );
$receipt-ico-name: 'receipt_ico';
$receipt-ico-x: 64px;
$receipt-ico-y: 0px;
$receipt-ico-offset-x: -64px;
$receipt-ico-offset-y: 0px;
$receipt-ico-width: 64px;
$receipt-ico-height: 64px;
$receipt-ico-total-width: 292px;
$receipt-ico-total-height: 254px;
$receipt-ico-image: '../images/sprite.png';
$receipt-ico: (64px, 0px, -64px, 0px, 64px, 64px, 292px, 254px, '../images/sprite.png', 'receipt_ico', );
$search-ico-name: 'search_ico';
$search-ico-x: 262px;
$search-ico-y: 102px;
$search-ico-offset-x: -262px;
$search-ico-offset-y: -102px;
$search-ico-width: 20px;
$search-ico-height: 21px;
$search-ico-total-width: 292px;
$search-ico-total-height: 254px;
$search-ico-image: '../images/sprite.png';
$search-ico: (262px, 102px, -262px, -102px, 20px, 21px, 292px, 254px, '../images/sprite.png', 'search_ico', );
$share-ico-name: 'share_ico';
$share-ico-x: 280px;
$share-ico-y: 180px;
$share-ico-offset-x: -280px;
$share-ico-offset-y: -180px;
$share-ico-width: 11px;
$share-ico-height: 17px;
$share-ico-total-width: 292px;
$share-ico-total-height: 254px;
$share-ico-image: '../images/sprite.png';
$share-ico: (280px, 180px, -280px, -180px, 11px, 17px, 292px, 254px, '../images/sprite.png', 'share_ico', );
$share-round-name: 'share_round';
$share-round-x: 112px;
$share-round-y: 192px;
$share-round-offset-x: -112px;
$share-round-offset-y: -192px;
$share-round-width: 33px;
$share-round-height: 33px;
$share-round-total-width: 292px;
$share-round-total-height: 254px;
$share-round-image: '../images/sprite.png';
$share-round: (112px, 192px, -112px, -192px, 33px, 33px, 292px, 254px, '../images/sprite.png', 'share_round', );
$subscribe-ico-name: 'subscribe_ico';
$subscribe-ico-x: 233px;
$subscribe-ico-y: 162px;
$subscribe-ico-offset-x: -233px;
$subscribe-ico-offset-y: -162px;
$subscribe-ico-width: 14px;
$subscribe-ico-height: 12px;
$subscribe-ico-total-width: 292px;
$subscribe-ico-total-height: 254px;
$subscribe-ico-image: '../images/sprite.png';
$subscribe-ico: (233px, 162px, -233px, -162px, 14px, 12px, 292px, 254px, '../images/sprite.png', 'subscribe_ico', );
$time-ico-name: 'time_ico';
$time-ico-x: 249px;
$time-ico-y: 121px;
$time-ico-offset-x: -249px;
$time-ico-offset-y: -121px;
$time-ico-width: 13px;
$time-ico-height: 13px;
$time-ico-total-width: 292px;
$time-ico-total-height: 254px;
$time-ico-image: '../images/sprite.png';
$time-ico: (249px, 121px, -249px, -121px, 13px, 13px, 292px, 254px, '../images/sprite.png', 'time_ico', );
$triangle-ico-name: 'triangle_ico';
$triangle-ico-x: 282px;
$triangle-ico-y: 65px;
$triangle-ico-offset-x: -282px;
$triangle-ico-offset-y: -65px;
$triangle-ico-width: 9px;
$triangle-ico-height: 10px;
$triangle-ico-total-width: 292px;
$triangle-ico-total-height: 254px;
$triangle-ico-image: '../images/sprite.png';
$triangle-ico: (282px, 65px, -282px, -65px, 9px, 10px, 292px, 254px, '../images/sprite.png', 'triangle_ico', );
$wishlist-ico-name: 'wishlist_ico';
$wishlist-ico-x: 280px;
$wishlist-ico-y: 198px;
$wishlist-ico-offset-x: -280px;
$wishlist-ico-offset-y: -198px;
$wishlist-ico-width: 12px;
$wishlist-ico-height: 11px;
$wishlist-ico-total-width: 292px;
$wishlist-ico-total-height: 254px;
$wishlist-ico-image: '../images/sprite.png';
$wishlist-ico: (280px, 198px, -280px, -198px, 12px, 11px, 292px, 254px, '../images/sprite.png', 'wishlist_ico', );
$wo-profile-black-ico-name: 'wo_profile_black_ico';
$wo-profile-black-ico-x: 262px;
$wo-profile-black-ico-y: 50px;
$wo-profile-black-ico-offset-x: -262px;
$wo-profile-black-ico-offset-y: -50px;
$wo-profile-black-ico-width: 20px;
$wo-profile-black-ico-height: 26px;
$wo-profile-black-ico-total-width: 292px;
$wo-profile-black-ico-total-height: 254px;
$wo-profile-black-ico-image: '../images/sprite.png';
$wo-profile-black-ico: (262px, 50px, -262px, -50px, 20px, 26px, 292px, 254px, '../images/sprite.png', 'wo_profile_black_ico', );
$wo-profile-ico-name: 'wo_profile_ico';
$wo-profile-ico-x: 262px;
$wo-profile-ico-y: 76px;
$wo-profile-ico-offset-x: -262px;
$wo-profile-ico-offset-y: -76px;
$wo-profile-ico-width: 20px;
$wo-profile-ico-height: 26px;
$wo-profile-ico-total-width: 292px;
$wo-profile-ico-total-height: 254px;
$wo-profile-ico-image: '../images/sprite.png';
$wo-profile-ico: (262px, 76px, -262px, -76px, 20px, 26px, 292px, 254px, '../images/sprite.png', 'wo_profile_ico', );
$write-admin-ico-name: 'write_admin_ico';
$write-admin-ico-x: 247px;
$write-admin-ico-y: 162px;
$write-admin-ico-offset-x: -247px;
$write-admin-ico-offset-y: -162px;
$write-admin-ico-width: 14px;
$write-admin-ico-height: 12px;
$write-admin-ico-total-width: 292px;
$write-admin-ico-total-height: 254px;
$write-admin-ico-image: '../images/sprite.png';
$write-admin-ico: (247px, 162px, -247px, -162px, 14px, 12px, 292px, 254px, '../images/sprite.png', 'write_admin_ico', );
$youtube-round-hover-ico-name: 'youtube_round_hover_ico';
$youtube-round-hover-ico-x: 192px;
$youtube-round-hover-ico-y: 41px;
$youtube-round-hover-ico-offset-x: -192px;
$youtube-round-hover-ico-offset-y: -41px;
$youtube-round-hover-ico-width: 41px;
$youtube-round-hover-ico-height: 41px;
$youtube-round-hover-ico-total-width: 292px;
$youtube-round-hover-ico-total-height: 254px;
$youtube-round-hover-ico-image: '../images/sprite.png';
$youtube-round-hover-ico: (192px, 41px, -192px, -41px, 41px, 41px, 292px, 254px, '../images/sprite.png', 'youtube_round_hover_ico', );
$youtube-round-ico-name: 'youtube_round_ico';
$youtube-round-ico-x: 192px;
$youtube-round-ico-y: 0px;
$youtube-round-ico-offset-x: -192px;
$youtube-round-ico-offset-y: 0px;
$youtube-round-ico-width: 41px;
$youtube-round-ico-height: 41px;
$youtube-round-ico-total-width: 292px;
$youtube-round-ico-total-height: 254px;
$youtube-round-ico-image: '../images/sprite.png';
$youtube-round-ico: (192px, 0px, -192px, 0px, 41px, 41px, 292px, 254px, '../images/sprite.png', 'youtube_round_ico', );
$zoom-ico-copy-name: 'zoom_ico copy';
$zoom-ico-copy-x: 233px;
$zoom-ico-copy-y: 121px;
$zoom-ico-copy-offset-x: -233px;
$zoom-ico-copy-offset-y: -121px;
$zoom-ico-copy-width: 16px;
$zoom-ico-copy-height: 16px;
$zoom-ico-copy-total-width: 292px;
$zoom-ico-copy-total-height: 254px;
$zoom-ico-copy-image: '../images/sprite.png';
$zoom-ico-copy: (233px, 121px, -233px, -121px, 16px, 16px, 292px, 254px, '../images/sprite.png', 'zoom_ico copy', );
$zoom-ico-name: 'zoom_ico';
$zoom-ico-x: 76px;
$zoom-ico-y: 192px;
$zoom-ico-offset-x: -76px;
$zoom-ico-offset-y: -192px;
$zoom-ico-width: 36px;
$zoom-ico-height: 36px;
$zoom-ico-total-width: 292px;
$zoom-ico-total-height: 254px;
$zoom-ico-image: '../images/sprite.png';
$zoom-ico: (76px, 192px, -76px, -192px, 36px, 36px, 292px, 254px, '../images/sprite.png', 'zoom_ico', );
$spritesheet-width: 292px;
$spritesheet-height: 254px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($active-like-small-ico, $any-questions-ico, $any-questions-round-ico, $arrow-down-ico, $arrow-left-ico, $arrow-right-pages-ico, $back-arrow, $bascket-ico, $call-ico, $call-round-ico, $card-ico-copy, $card-ico, $checked, $day-product-ico, $delivery-ico, $delivery-round-ico, $download-photo-ico, $email-ico, $facebook-ico, $fb-round-hover-ico, $fb-round-ico, $gamburger-menu-ico, $go-pay-ico, $google-account-ico, $heart-round-blue-ico, $hot-product-ico, $inst-heart, $insta-photo-fallinlove-ico, $insta-photo-falllove-ico, $instagram-round-hover-ico, $instagram-round-ico, $like-active-ico, $lock-ico, $mail-us-ico, $money-cash-copy, $money-cash, $passive-like-ico, $passive-like-round-ico, $phone-ico, $preview-ico, $print-ico, $receipt-ico-copy, $receipt-ico, $search-ico, $share-ico, $share-round, $subscribe-ico, $time-ico, $triangle-ico, $wishlist-ico, $wo-profile-black-ico, $wo-profile-ico, $write-admin-ico, $youtube-round-hover-ico, $youtube-round-ico, $zoom-ico-copy, $zoom-ico, );
$spritesheet: (292px, 254px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
